<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
   "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.signal.test.dao.TestDAO">
	
	<select id="selfInsert" parameterType="String" resultType="test">
		SELECT st_que, st_hidden, st_keyword, cl_id, str.st_no, st_score  FROM self_test_result str 
		LEFT OUTER JOIN self_test st ON st.st_no = str.st_no 
		WHERE cl_id=#{id}
	</select>
	
	<select id="selfComment" parameterType="String" resultType="String">
		SELECT st_comment FROM client
		WHERE cl_id=#{id}
	</select>
	
	<select id="selfRegGo" resultType="test">
		SELECT st_que, st_keyword, st_no FROM self_test
		WHERE st_hidden=1;
	</select>
	
	<insert id="selfReg" parameterType="test">
		INSERT INTO self_test_result(cl_id, st_no, st_score)
		VALUES(#{cl_id},#{st_no},#{st_score})
	</insert>
	
	<update id="selfContentReg" parameterType="String">
		UPDATE client SET
		st_comment = #{param2}
		WHERE cl_id=#{param1}
	</update>	
	
	<select id="selfQueList" resultType="test">
		SELECT st_no, st_que, st_hidden, st_keyword FROM self_test
	</select>
	
	<select id="selfQueListA" resultType="test">
		SELECT st_no, st_que, st_hidden, st_keyword FROM self_test
		WHERE st_hidden=0
	</select>
	
	<select id="selfQueListB" resultType="test">
		SELECT st_no, st_que, st_hidden, st_keyword FROM self_test
		WHERE st_hidden=1
	</select>
	
	<update id="stHiddenUp">
		UPDATE self_test SET
		st_hidden = #{param2}
		WHERE st_no=#{param1}
	</update>
	
	<select id="interviewQueList" resultType="test">
		SELECT it_no, it_que, it_hidden, it_keyword FROM interview_test
	</select>
	
	<insert id="stReg" parameterType="hashmap">
		INSERT INTO self_test_result (cl_id, st_no, st_score)
		VALUES(#{cl_id},#{st_no},#{st_score})		
	</insert>
	
</mapper>