<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
   "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.signal.objection.dao.ObjectionDAO">

	
		<select id="clientObjectionList" resultType="com.signal.all.dto.ObjectionDTO">
		SELECT 
			jpo_title,com_name,inter_date,inter_result,inter_grade,obj_state,obj_content,
			obj_date 
		FROM objection o 
			left outer join interview i on o.inter_no = i.inter_no 
			left outer join apply a on i.apply_no = a.apply_no 
			left outer join job_posting jp on a.jpo_no = jp.jpo_no 
			left outer join company c on jp.com_id = c.com_id;
		</select>
	
</mapper>