<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
   "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.signal.resume.dao.ResumeDAO">

	<select id="list" resultType="resume">
		SELECT re_no, re_title, jp_name, jc_name FROM resume r
		LEFT OUTER JOIN job_pa jp ON r.jp_no = jp.jp_no
		LEFT OUTER JOIN job_ch jc ON r.jc_no = jc.jc_no  
	</select>
	
	<select id="personList" resultType="resume">
		SELECT cl_age, cl_gender, (SUM(inter_grade)/COUNT(inter_comment)) AS avr_inter_grade, 
		COUNT(DISTINCT inter_comment) as cnt_inter, (SUM(st_score)/COUNT(st_comment)) AS avr_st_score FROM client c 
		LEFT OUTER JOIN self_test_result str ON c.cl_id = str.cl_id 
		LEFT OUTER JOIN interview i ON c.cl_id = i.cl_id 
		GROUP BY c.cl_id 
	</select>
	
	
</mapper>