<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
   "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.signal.member.dao.MemberDAO">
	<select id="overlayClientId" parameterType="String" resultType="String">
		SELECT cl_id
		FROM client WHERE cl_id =#{chkclId}
	</select>
	
	<select id="overlayEmail" parameterType="String" resultType="String">
	SELECT cl_email 
	FROM client WHERE cl_email=#{chkEmail}
	</select>
	
	<insert id="clientJoin" parameterType="hashmap">
	INSERT INTO client
	(cl_id
	,cl_pw
	,cl_name
	,cl_birth
	,cl_age
	,cl_gender
	,cl_address
	,cl_call
	,cl_email
	,cl_photo)
	VALUES (#{cl_id},PASSWORD(#{cl_pw}),#{cl_name},#{cl_birth},#{cl_age},#{gender},#{cl_address},#{cl_call},#{cl_email},#{cl_photo})
	</insert>
</mapper>